#head-background{
    width:100%;
    height:250px;
    border:1px solid black;
    background-image: url("https://assets.interntheory.com/creative/courses/listpage/Course-bannerbg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    padding:0px;
}
#head-background>img{
    width:100%;
}

#heading{
    width:85%;
    height:30px;
    border: 0px solid blue;
    margin: auto;
    margin-top: 20px;
}
#heading>h4{
    margin-top: -100px;
    color: black;
    text-align: justify;
    color: rgba(0, 0, 0, 0.54);
}
#heading>p{
    margin-top:none;
    color: black;
    line-height: 25px;
    text-align: justify;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.54);
}

#course-cart{
    width:85%;
    height:500px;
    border:0px solid brown;
    margin:auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,450px);
    gap:10px;
}
#course-cart>div{
    border:0px solid red;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#course-cart>.cart-container>div{
    border:0px solid rgb(82, 82, 74);
    width:100%;
    height:180px;
    
}

#course-cart>.cart-container>div>img{
    width:100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
}

#course-cart>div>p,h3{
    text-align: justify;
    margin-left: 10px;
    margin-right: 20px;
}
#course-cart>div>p{
    line-height: 20px;
    margin-top:-15px;
    color: rgba(0, 0, 0, 0.54);
}
#course-cart>div>hr{
    border-top: 1px dashed rgba(0, 0, 0, 0.54);
    margin-top: 20px;
}
.pre,.curr{
    display: inline;
}
.curr{
    margin-left: 900px;
    font-size: 25px;
    color: black;
    
}
.pre{
    padding-left: 100px; 
    text-decoration: line-through;
}
h4{
    text-align: center;
    color: rgb(255, 179, 38);
    margin-top: 0px;
}
h4+h5,button{
    display: inline;
    margin-left: 30px;
}
h5{
    color: rgb(74, 74, 233);
}
button{
    height:40px;
    margin-bottom: 20px;
    background-color: #DF1E2E;
    padding:4px 8px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}