body{
    margin:0;
}

#navbar{
    position:fixed;
    top:0;
    overflow: hidden;
    z-index: 5;
    /* background-color: rgb(236, 220, 220); */
    background-color: rgb(255,255,255);
    border: 0px solid black;
    width:100%;
    height:90px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#navbar > div{
    border:0px solid black;
    width:95%;
    height:100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navcontainer{
    border:0px solid rgb(110, 76, 76);
    width:97%;
    height:80%; 
    display: flex;
    justify-content: space-between;
}
#navcontainer > div{
    border: 0px solid red;
    width:200px;
    height: 100%;
    display: flex;
}
#navleft > div,#navright > div{
    border: 0px solid rgb(48, 43, 43);
    width:100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navleft > div >img{
    width:100%;
}
#carticon >div{
    border: 0px solid blueviolet;
    width:60px;
    height: 60px;
     display: flex;
    justify-content: center; 
    align-items: center;
    border-radius:65px; 
}
#carticon >div:hover{
    background-color: rgb(201, 196, 196);
}
#carticon >div >img{
    width:50%;
   
}

#navright >div>a>button{
  width:80px;
  height: 40px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#navright >div>a>button:hover{
    background-color: brown;
}
 #menuicon > div{
    border:0px solid gray;
    width: 60px;
    height:60px;
    border-radius:55px;
    display: flex;
    justify-content: center; 
    align-items: center;
} 
#menuicon > div>img{
  width:50%;
}
#company_icon{
  width:90%;
  margin-top: 10px;
}
#menuicon > div:hover{
    background-color: rgb(201, 196, 196);
}
.sidenav{
    height: 100%;
    width: 200px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color:white;
    /* background-color: #111; */
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s; 
    display: flex;
    flex-direction: column;  
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* dropdown */
  /* .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #cc1616;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .sidenav a:hover, .dropdown-btn:hover {
     color: #4b1313; 
    color: #f1f1f1;
  }

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
} */
  /* dropdown */


  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  .sidenav > #icons{
    width:99%;
    height:70px;
    border:0px solid black;
    display: flex;
  }
  #icons>div{
   width:30%;
   height:100%;
   border: 0px solid red;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  #iconContainer{
    border:0px solid gray;
    width: 60px;
    height:60px;
    border-radius:55px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  #iconContainer:hover{
    background-color: rgb(201, 196, 196);
  }
  #icons>div> #iconContainer>#img1{
    width:60%;
}
  #icons>div>#img2{
    width:100%;
}
.sidenav>hr{
    width:95%;
    text-align:left;
    margin-left:0;
    margin-top: 10px;
}
.sidenav > select{
  border:0px solid red;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  transition: 0.3s;
}
.sidenav > select >option{
    border: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.main{
  /* margin-top: 90px;  */
  z-index: 2;
  overflow: hidden;
}

/* Top Section Search Area */

#Top-section{
  width:100%;
  height:450px;
  border:1px solid red;
  background-image: url("https://assets.interntheory.com/creative/Homepage-Banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  /* padding-top: 40px; */
  /* margin-top: 90px; */
}

#heading{
  text-align: center;
   margin-top: 0px;
  padding-top: 100px;
  font-size: 25px;
  color: white;
}
#heading>span{
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  color: white;
  background-color: red;
  padding: 5px 8px;
  font-weight: bold;
}
#desc{
  text-align: center;
  padding-top: 10px;
  color: white;
}
#search-Area{
  border:0px solid black;
  width:90%;
  height: 100px;
  row-gap: 10px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #d7dadc;
  opacity: 0.8;
}
#search-Area>input{
  width:200px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #d7dadc;
  
}
#search-Area>div{
  border:0px solid black;
  width:300px;
  height:50px;
  margin-top: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#search-Area>div>input{
  width:200px;
  border: none;
  border-bottom: 2px solid gray;
  background-color: #d7dadc;
}
#search-Area>div>button{
  width:80px;
  height: 35px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: red;
  border: none;
  margin-left: 5px;

}
 #search-Area>h4{
  margin-top: 40px;
} 

/* Mid Section1 */

#mid-section{
  border:0px solid slateblue;
  width:100%;
  height:450px;
  display: flex;
}
#mid-section>div{
  border:0px solid greenyellow;
  width: 40%;
  height:100%;
  margin: auto;
}
#mid-right{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,82px);
  gap:10px;
}
#mid-right>div{
  border:0px solid red;
}
#mid-left > div{
  border:0px solid blueviolet;
  width:90%;
  height:70%;
  margin:auto;
  margin-top:50px;
 
}
#mid-left > div>h2{
  padding-top: 40px;
}
#mid-left > div>h2>span{
  color: rgb(221, 31, 45);
}
#mid-left > div>p{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(102, 95, 95);
  line-height: 20px;
  text-align: justify;
}

/* Mid Section 2 */

#work{
  border:0px solid black;
  width:100%;
  height:600px;
  background-color: #f7fcfe;
}
#work >h1{
  text-align: center;
  margin-top: 90px;
  padding-top: 70px;
}
#work >h1>span{
  color: rgb(221, 31, 45);
}
#work-grid{
  border:0px solid green;
  width:85%;
  height:70%;
  margin: auto;
  /* background-color: #f7fcfe; */
}
#work-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,203px);
  gap:10px;
  row-gap: 2px;
}
#work-grid>div{
  border:0px solid red;
}
#work-grid>div>a>img{
  width:100%;
  border-radius: 5px;
}

/* Upskilling Mid Section3 */
#upskill{
  border:0px solid brown;
  width:100%;
  height:450px;
  background-color: #eeeeee;
}

#upskill>h1{
  text-align: center;
  margin-top: 90px;
  padding-top: 90px;
}
#upskill>h1>span{
  color: rgb(221, 31, 45);
}

#upskil_course{
  border: 0px solid red;
  width:80%;
  height:180px;
  margin: auto;
}
#upskil_course{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 179px;
  gap: 20px;
}
#upskil_course>div{
  border:0px solid black;
  border-radius: 5px;
}
#upskil_course>div>a>img{
  width:100%;
  border-radius: 5px;
}


/* Up Mid Section4 */

#up{
  border:0px solid brown;
  width:100%;
  height:400px;
  display: flex;
  margin: auto;
}
#up>#up-left{
  border:0px solid black;
  width:30%;
  height:85%;
  margin: auto;
  margin-right: 15px;
}
#up>#up-right{
  border:0px solid black;
  width:41%;
  height:85%;
  margin: auto;
  margin-left: 15px;
}

#up-left>img{
  width:80%;
}
#up-right>h1{
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 28px;
  font-family:  Helvetica, Arial,sans-serif;
}
#up-right>h1>span{
  color: rgb(221, 31, 45);
}
#up-right>hr{
  width:100%;
}
#up-right>p{
  font-size: 14px;
  text-align: justify;
  font-family: Helvetica,Arial,sans-serif;
  color: #3c4858;
  margin-top: 0px;
  line-height: 20px;
}

/* Review Mid Section5 */

#review{
  border: 1px solid brown;
  width:100%;
  height:350px;
  background-color: #f7fcfe;
  
}
#slide{
  border: 0px solid red;
  width:80%;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  /* padding-top: 50px; */
  display: flex;
}
#slide>div{
  border: 1px solid black;
  width:90%;
  height:80%;
  margin-top: 35px;
  margin-left: 40px;
  display: flex;
}
#slide>.slide-display-left,.slide-display-right{
  height:80px;
  width:50px;
  margin: auto;
  background-color: none;
  color: black;
  border: none;
  font-size: 50px;
}
.slide-display-left{
  margin-right: 40px;
}
.slide-display-right{
  margin-left: 40px;
}
 
.mySlides>#slideinfo-left{
  border:0px solid yellowgreen;
  width:300px;
  height:100%;
  margin: auto;
}
.mySlides>#slideinfo-right{
  border:0px solid yellowgreen;
  width:550px;
  height:100%;
  margin: auto;
}
.mySlides>.vl{
  border-left: 2px solid gray;
  height: 95%;
  /* position: absolute; */
  /* left: 50%;
  margin-left: -3px; */
  margin-top: 6px;
}
#slideinfo-right>p{
  text-align:justify;
  margin-top: 50px;
  color: #666666;
  line-height: 20px;
}
#slideinfo-left{
 /* display: flex;
 flex-direction: column; */
 /* justify-content: center; */
 margin: auto;
 
}
#slideinfo-left>img{
  width:30%;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 50px;
  
}
#slideinfo-left>h2, p{
  text-align: center;
  line-height: 2px;
}


/* footer */
#Foot{
  border:0px solid black;
  width:100%;
  height:500px;
  background-color: #446478;
  color: white;
  margin-top: -29px;
}

#foot_content{
  border:0px solid brown;
  width:90%;
  height:270px;
  margin: auto;
  margin-top: 30px;
  padding-top: 40px;
  display:flex;
}
#foot_icon{
  border:0px solid yellowgreen;
  width:3%;
  height:120px;
  margin: auto;
  margin-right: 6px;
}
#foot_details{
  border:0px solid blueviolet;
  width:80%;
  height:270px;
  margin: auto;
  margin-left: 6px;
  display: flex;
}

#foot_icon>div{
  border:0px solid green;
  height:30px;
  margin: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  
}
#foot_icon>div>a>img{
  width:90%;
  row-gap: 20px;
}

#foot_details>div{
  border:0px solid brown;
  height:100%;
  width:30%;
  margin: auto;
  text-align:left;

}
#foot_details>div>ul>a>li{
  list-style: none;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 25px;
}
#foot_details>div>ul>a{
  text-decoration: none;
  color: white;
  
}
#foot_details>div>ul>li{
  list-style: none; 
}
#foot_details>div>ul>li>p{
  font-size: 19px;
}

#company_info{
  border:0px solid yellowgreen;
  width:90%;
  height:70px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}
#company_info>a{
  text-decoration: none;
  color: white;
}
hr{
  width:90%;
  color: #3c4858;
  margin-top: -10px;
}
hr+p{
  text-align: center;
  margin-top: 0px;
}


