body{
    margin:0;
}


#navbar{
    position:fixed;
    top:0;
    overflow: hidden;
    z-index: 5;
    /* background-color: rgb(236, 220, 220); */
    background-color: rgb(255,255,255);
    border: 0px solid black;
    width:100%;
    height:90px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#navbar > div{
    border:0px solid black;
    width:95%;
    height:100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navcontainer{
    border:0px solid rgb(110, 76, 76);
    width:97%;
    height:80%; 
    display: flex;
    justify-content: space-between;
}
#navcontainer > div{
    border: 0px solid red;
    width:200px;
    height: 100%;
    display: flex;
}
#navleft > div,#navright > div{
    border: 0px solid rgb(48, 43, 43);
    width:100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navleft > div >img{
    width:100%;
}
#carticon >div{
    border: 0px solid blueviolet;
    width:60px;
    height: 60px;
     display: flex;
    justify-content: center; 
    align-items: center;
    border-radius:65px; 
}
#carticon >div:hover{
    background-color: rgb(201, 196, 196);
}
#carticon >div >img{
    width:50%;
   
}

#navright >div>a>button{
  width:80px;
  height: 40px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#navright >div>a>button:hover{
    background-color: brown;
}
 #menuicon > div{
    border:0px solid gray;
    width: 60px;
    height:60px;
    border-radius:55px;
    display: flex;
    justify-content: center; 
    align-items: center;
} 
#menuicon > div>img{
  width:50%;
}
#company_icon{
  width:90%;
  margin-top: 10px;
}
#menuicon > div:hover{
    background-color: rgb(201, 196, 196);
}
.sidenav{
    display:none;
    height: 100%;
    width: 200px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color:white;
    /* background-color: #111; */
    overflow-x: hidden; 
    padding-top: 60px;
    /* transition: 0.5s;  */
    display: flex;
    flex-direction: column;  
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    /* transition: 0.3s; */
  }
  .sidenav a:hover {
    color: red;
  }

  /* dropdown */
 .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .active{
    background-color: green;
    color: yellowgreen;
  }

 .dropdown-btn:hover {
     color: #4b1313; 
  }

.dropdown-container {
  /* display: none; */
  background-color: #262626;
  padding-left: 8px;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}
  /* dropdown */


  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  .sidenav > #icons{
    width:99%;
    height:70px;
    border:0px solid black;
    display: flex;
  }
  #icons>div{
   width:30%;
   height:100%;
   border: 0px solid red;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  #iconContainer{
    border:0px solid gray;
    width: 60px;
    height:60px;
    border-radius:55px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  #iconContainer:hover{
    background-color: rgb(201, 196, 196);
  }
  #icons>div> #iconContainer>#img1{
    width:60%;
}
  #icons>div>#img2{
    width:100%;
}
.sidenav>hr{
    width:95%;
    text-align:left;
    margin-left:0;
    margin-top: 10px;
}
/* .sidenav > select{
  border:0px solid red;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  transition: 0.3s;
}
.sidenav > select >option{
    border: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
} */